[submodule "addons"]
	path = addons
	url = git@github.com:seedstack/addons
	branch = master
[submodule "core"]
	path = core
	url = git@github.com:seedstack/core
	branch = master
[submodule "website"]
	path = website
	url = git@github.com:seedstack/website
	branch = master
[submodule "pep"]
	path = pep
	url = git@github.com:seedstack/pep
	branch = master
[submodule "samples"]
	path = samples
	url = git@github.com:seedstack/samples
	branch = master
[submodule "themes"]
	path = themes
	url = git@github.com:seedstack/themes.git
	branch = master
[submodule "distribution"]
	path = distribution
	url = git@github.com:seedstack/distribution.git
	branch = master
[submodule "poms"]
	path = poms
	url = git@github.com:seedstack/poms.git
	branch = master
[submodule "javadoc"]
	path = javadoc
	url = git@github.com:seedstack/javadoc.git
	branch = master
[submodule "seedstack-maven-plugin"]
	path = maven-plugin
	url = git@github.com:seedstack/seedstack-maven-plugin.git
	branch = master
